[submodule "HW2/googletest"]
	path = HW2/googletest
	url = https://github.com/google/googletest.git
[submodule "HW3/contrib/gtest"]
	path = HW3/contrib/gtest
	url = https://github.com/google/googletest.git
